

body{
    background-color: hsl(30, 38%, 92%);
}

main.container
{
    border: 1px;
    padding: 10px;
    border-radius: 5px;
    max-width: 340px;
    align-items: center;
    
     }

    #image1{
        width:340px;
        margin-bottom:0 ;
        margin-top: 0.5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

    .card{
        background-color: white;
        border-radius: 16px;
        border: 1px;
        justify-content: center;
        
        
    } 
    #image2{
        display: none;
    }
h2{
    margin-top: 0px;
}
.btn{
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;

&:hover{
    color:yellow;
}
}


.card-wrapper{
    padding:25px;
    padding-top: 2rem;
    background-color: white;
}
h2{
    letter-spacing: 0.12cm;
    font-size:small;
    text-align: left;
    font-family:'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}
h1{
    font-weight:700;
    font-family: 'Fraunces', serif;
    color:rgb(28, 35, 43) ;
    margin-top: 12px;
}
    .content{
        font-family:'Montserrat', sans-serif;
        font-weight: 300;
        font-size:smaller;
        letter-spacing: 0.5mm;
        margin-bottom: 25px;
        margin-top: 25px;
        color: hsl(228, 12%, 48%);
        
            }
   
    .price1{
        font-weight:700;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    display: flex;
            }
    .price2{
        font-size:small;
    text-decoration:line-through;
    font-weight:500;
margin-top: 12px;
margin-left: 17px;
color: hsl(228, 12%, 48%);
font-family: 'Fraunces', serif;
}
    .price-wrapper{
        margin-top: 2rem;
        margin-bottom: 1rem;
        display: flex;
 }
 @media screen and (min-width: 1440px){
    
    .container{
        align-items: center;
        height: 500px;
        justify-content: center;
        
    }
    .card{
        display: flex;
    }
        #image1{
            display: block;
        }
        
    }

 